/* This section is for setting the foundation of the design system */
/* This section will contain the color pallette, fonts, sizes, and base components */


/* START: Design Foundation */

:root {
    --text-color: #FFFFFF;
    --background-color: #121212;
    --primary-color: #00FFD1;
    --secondary-color: #635DFE;
    --tertiary-color: #00B3FF;
    --highlight-color: #EE5C5C; 
    /* Add more variables as needed */
}



body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    font-size: 14px;
}

.unselectable {
    user-select: none;
    pointer-events: none;
}

.card{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.action-button {
    background-color: #121212;
    border: 3px solid var(--secondary-color);
    border-radius: 16px;
    width: 10%;
    animation: moveUpAndDown 2s infinite;
}

.action-icon-button {
    background: none;
    border: none;
}

.sub-title {color: var(--text-color); font-size: 1em;}
  .design-animation-container { margin-top: 10px; display: grid; grid-template-columns: repeat(6, 1fr); gap: 2px; grid-template-rows: repeat(7, 1fr); width: 90vw; height: 40vh; max-width: 600px; }
  .design-animation-cell { width: 100%; height: 100%; border: 1px solid var(--background-color); border-radius: 5px; box-sizing: border-box; display: flex; justify-content: center; align-items: center; }
  .design-animation-label-container{ display: flex; flex-direction: row; justify-content: space-evenly; align-items: center; width: 100%; max-width: 600px;}
  .highlight-badge { border: 3px solid; padding: 8px; border-radius: 8px; text-align: center; font-weight: bold;}

/* FINISH: Design Foundation */

/* ------------------------------------------------------------------------------------------------------------------------------------------------- */

/* START: Navbar Section */


.navbar-action-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px;
    
    margin-right: 5vw;
}

.navbar-main-logo{

    margin-left: 5vw;
    
}

.navbar-action-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.navbar-action-button img {
    display: block;
    pointer-events: none; /* Ensure the image doesn't interfere with button click */
}

.action-label{
    font-weight: bold;   
}


.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    width: 100vw;
    transition: height 0.5s ease, opacity 0.5s ease;
    z-index: 10;
    overflow: hidden;
}

.navbar-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1em; /* Adjust this value to add space at the top */
    position: fixed;
    top: 0;
    left: 0;
    background: none;
    
    z-index: 11;
}


.navbar-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    height: 90vh;
    opacity: 0;
    margin-top: 10vh; /* Adjust this value to the height of your top navbar */
    transition: opacity 0.5s ease;
}

.navbar-content.hidden {
    opacity: 0;
}

.navbar-content.visible {
    opacity: 1;
}

.navbar-expanded-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.closeNavbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: 3px solid var(--primary-color);
    border-radius: 16px;
    background-color: var(--background-color);
    color: var(--primary-color);
    font-weight: bold;
}

/* FINISH: Navbar Section */

/* ------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Animation Section */
/* All animations are isolated to this section of the code base */

/* START: Movement Indicators */

@keyframes moveUpAndDown {
    0% { transform: translateY(0); }
    50% { transform: translateY(10%); }
    100% { transform: translateY(0); }
}

@keyframes moveDownAndUp {
    0% { transform: translateY(0); }
    50% { transform: translateY(10%); }
    100% { transform: translateY(0); }
}

@keyframes moveLeftAndRight {
    0% { transform: translateX(0); }
    50% { transform: translateX(-10%); }
    100% { transform: translateX(0); }
}

@keyframes moveRightAndLeft {
    0% { transform: translateX(0); }
    50% { transform: translateX(10%); }
    100% { transform: translateX(0); }
}

/* FINISH: Movement Indicators */


/* START: Rocketship Animation */

.rocketship {
    position: absolute;
    width: 40px;
    height: 80px;
    background-image: url('./assets/rocketship.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -999;
    opacity: 0;
}

.portal {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 20px var(--secondary-color), 0 0 30px var(--secondary-color), 0 0 40px var(--secondary-color), 0 0 50px var(--secondary-color);
    background: radial-gradient(circle, var(--secondary-color) 10%, var(--background-color) 80%);
    animation: portal-glow 2s infinite alternate;
    z-index: -1001;
}

@keyframes portal-glow {
    from {
        box-shadow: 0 0 20px var(--secondary-color), 0 0 30px var(--secondary-color), 0 0 40px var(--secondary-color), 0 0 50px var(--secondary-color);
    }
    to {
        box-shadow: 0 0 40px var(--secondary-color), 0 0 60px var(--secondary-color), 0 0 80px var(--secondary-color), 0 0 100px var(--secondary-color);
    }
}

.fuel-orb {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: radial-gradient(circle, var(--highlight-color) 20%, rgba(0, 0, 0, 0) 70%);
    box-shadow: 0 0 10px var(--highlight-color), 0 0 40px var(--highlight-color);
    animation: fuel-orb-blast 1s forwards;
    z-index: -1002;
}

@keyframes fuel-orb-blast {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    50% {
        transform: translateY(0px) scale(1.5); /* Move up initially */
        opacity: 1;
    }
    100% {
        transform: translateY(0px) scale(2); /* Disperse downwards */
        opacity: 0;
    }
}


/* FINISH: Rocketship Animation */









.page-container {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 1;
}

.page {
    position: absolute;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.movement-button{
    background-color: #121212;
    height: 5vh;
    width: 20vh;
    margin-top: 20px;

    border: 3px solid var(--primary-color);
    border-radius: 16px;

    color: var(--primary-color);

    font-weight: bold;


}



.hidden {
    display: none;
}

.visible {
    display: flex;
}



/* 
///// Page A //////////////////////////////  */

.cube {
    position: relative;
    width: 100px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(-45deg);
    animation: rotate 5s infinite linear;
}

.cube .face {
    position: absolute;
    width: 100px;
    height: 100px;
    background: none;
    border: 6px solid var(--secondary-color);
    border-radius: 10px;
    margin-bottom: 50px;
}

.website-title {
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
}

.cube .front { transform: rotateY(0deg) translateZ(50px); }
.cube .back { transform: rotateY(180deg) translateZ(50px); }
.cube .left { transform: rotateY(-90deg) translateZ(50px); }
.cube .right { transform: rotateY(90deg) translateZ(50px); }
.cube .top { transform: rotateX(90deg) translateZ(50px); }
.cube .bottom { transform: rotateX(-90deg) translateZ(50px); }

.moon-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    height: 50px;
}

@keyframes rotate {
    from { transform: rotateX(-30deg) rotateY(-45deg); }
    to { transform: rotateX(-30deg) rotateY(315deg); }
}


